h1 {
  text-align: center;
}

img{
  max-width: 50%;
}
/*Columns from: https://www.w3schools.com/howto/howto_css_two_columns.asp*/
.column {
  width: 50%;
}

.row{
  display:flex;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#content{

}

#evans-div{

}

#alias-bio{

}
