html {
  background-color: #000129;
}

h1 {
  text-align: center;
}

img{
  max-width: 50%;
}

body>div {
  border-style: solid;
  border-radius: 20px;
  border-color: #aaaaaa;
  padding: 2.5%;
  margin: 2.5%;
  float: center;
  background-color: white;
}

div>form {
  padding: 10px;
  margin: 10px;
  display: block;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
}

select {
  margin: 10px;
}

/*Columns from: https://www.w3schools.com/howto/howto_css_two_columns.asp*/
.column {
  width: 50%;
}

.row{
  display:flex;
  border-style: none;
  background-color: inherit;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#content {
  font-size: 2.5em;
  color: #000129;
}

#evans-div{
  background-color: lightblue;
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.5em;
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  transition: background-color 2s, color 2s;
}

#evans-div:hover{
  background-color: blue;
  color: white;

}

#evans-div img{
  border-radius: 50px;
  margin-left: 33%;
  height: 50%;
  transition: transform 5s;
}

#evans-div img:hover{
  transform: rotate(360deg);
}

#alias-bio {
  color: black;
  background-color: #92c2d4;
  font-family: Arial, sans-serif;
  line-height: 125%;
  padding: 20px;
  margin: 5px;
  border-style: groove;
  border-radius: 20px;
  border-color: #0e91ab;
  border-width: 20px;
  transition: background-color 2s, border-color 2s;
}

#alias-bio img {
    float: left;
    padding: 20px;
    border-radius: 50px;
}

#alias-bio ol {
  display: inline-block;
}

#alias-bio:hover {
  background: #ba92d4;
  border-color: #a466cc;
}
